@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allison&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
:root
{
    --dark-blue: #0a1d3c;
    --light-gray: #e5e5e5;
    --white: #fff;
    --light-peach: #f9e3bc;
    --dark-gray: #3e3f43;
    --light-black:#1d1d1d;
}
/* Section One */
.section
{
    width: 100%;
    height: 100vh;
}
nav
{
    width: 85%;
    height: 13vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}
header
{
    width: 80%;
    height: calc(100vh - 13vh);
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    /* position: absolute;
    top: 0; */
    margin: auto;
}
.nav-links 
{
    display: flex;
}
.header-image
{
    width: 33rem;
}
.logo
{
    font-size: 3.3rem;
    color: var(--dark-blue);
     font-family: "Allison", cursive;
}
.nav-links li
{
    list-style: none;
}
.nav-links li a
{
    text-decoration: none;
    margin-left: 2.5rem;
    color: var(--dark-gray);
    font-size: 1rem;
    letter-spacing: .04rem;
    position: relative;
}
.header-heading
{
    font-size: 5rem;
    position: relative;
}
.header-heading::before
{
    content: 'New';
    position: absolute;
    top: -60px;
    color: var(--dark-blue);
    font-family: "Allison", cursive;
}
.product-name
{
    font-size: 1.7rem;
}
.header-pricing
{
    font-size: 1.5rem;
    margin: 1rem 0px;
}
.btn-container
{
    display: flex;
    margin-top: 2rem;
}
.primary-btn
{
    padding: 1rem 1.7rem;
    font-size: 1.1rem;
    border: none;
    background-color:var(--light-gray);
    /* color: var(--white); */
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.secondry-btn
{
    padding: 1rem 2.5rem;
    font-size: 1rem;
    border: 2px solid var(--dark-blue);
    background-color: var(--dark-blue);
    color: var(--white);
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
}
.primary-btn:hover, .section-two-btn:hover
{
    transform: scale(1.1);
}
.secondry-btn:hover
{
    transform: scale(1);
}
.nav-links li a::after, .nav-links li a.active::after
{
    content: '';
    background: var(--dark-gray);
    position: absolute;
    height: .15rem;
    width: 100%;
    left: 0;
    bottom: -5px;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
    transform-origin: right;
}
.nav-links li a:hover::after, .nav-links li a.active::after
{
    transform: scaleX(1);
    transform-origin: left;
}
.line
{
    background: var(--dark-blue);
    width: 2.3rem;
    height: .2rem;
    margin: .38rem;
}
.hamburger
{
    display: none;
    cursor: pointer;
}

/* Section two */
.section-two-container
{
    background-color: var(--light-peach);
    width: 100%;
    height: 60vh;
    transform: skewY(-6deg);
}
.section-two
{
    display: flex;
    align-items: center;
}
.section-two-image
{
    width: 28rem;
}
.section-two-inner-container
{
    transform: skewY(6deg);
    width: 80%;
    margin: auto;
}
.section-two-container, .section-two-inner-container
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-two-heading
{
    color: var(--dark-gray);
    font-size: 4rem;
}
.section-two-para
{
    font-size: 1rem;
    color: var(--dark-gray);
    line-height: 1.5rem;
    max-width: 80%;
}
.section-two-pricing
{
    font-size: 1.6rem;
    color:var(--dark-gray);
    margin: .6rem 0px;
}
.section-two-btn
{
    padding: .9rem 1.7rem;
    border: .1rem solid var(--light-black);
    font-size: 1.1rem;
    background: transparent;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

/* Section Three Start */
.section-heading
{
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 3rem;
}
.card-container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 3rem;
}
.card-image
{
    width: 20rem;
}
.card
{
    background: var(--light-gray);
    padding: 1.5em 1.5rem;
}
.card-pricing
{
    font-size: 1.2rem;
    margin-top: .2rem;
    margin-bottom: 1.2rem;
}

/* Section Four Container */
.section-four-container
{
    background: red;
    width: 100%;
    height: 80vh;
    margin-top:20rem;
    background-image: url(./image/watch.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}











/* Media Queries */

@media only screen and (max-width: 760px)
{

    /* Section One */
    
    .header-image
    {
        display: none;
    }
    .nav-links
    {
        flex-direction: column;
        position: absolute;
        top: 0;
        background: var(--light-gray);
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        right: 100%;
        z-index: 2;
        gap: 2rem ;
        transition: all 0.5s ease-in-out;
    }
    .open
    {
        right: 0;
    }
    .nav-links li a
    {
        font-size: 1.3rem;
        color: var(--dark-blue);
        margin-left: 0;
    }
    .hamburger
    {
        display: block;
        z-index: 5;
    }
    .logo
    {
        z-index: 5;
    }
    .header-heading
    {
        font-size: 3rem;
    }
    header
    {
        justify-content: flex-start;
    }

    /* Section One */
    .section-two-image
    {
        display: none;
    }
    .section-two-heading
    {
        font-size: 2.9rem;
    }
    .section-two-para
    {
        font-size: .93rem;
        max-width: 100%;
    }
    .section-two-pricing
    {
        font-size: 1.3rem;
    }
    .section-two-btn
    {
        font-size: 1rem;
        padding: .7rem 1.4rem;
    }
    .section-two-container
    {
        height: 60vh;
    }
    .section-two-inner-container
    {
        width: 90%;
    }

    /* Section Three */
    .card-image
    {
        width: 16rem;
    }
}