@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allison&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
:root
{
    --dark-blue: #0a1d3c;
    --light-gray: #e5e5e5;
    --white: #fff;
    --light-peach: #f9e3bc;
    --dark-gray: #3e3f43;
    --light-black:#1d1d1d;
}
.section
{
    width: 100%;
    height: 100vh;
}
nav
{
    width: 85%;
    height: 13vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}
header
{
    width: 80%;
    height: calc(100vh - 13vh);
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    /* position: absolute;
    top: 0; */
    margin: auto;
}
.nav-links 
{
    display: flex;
}
.header-image
{
    width: 33rem;
}
.logo
{
    font-size: 3.3rem;
    color: var(--dark-blue);
     font-family: "Allison", cursive;
}
.nav-links li
{
    list-style: none;
}
.nav-links li a
{
    text-decoration: none;
    margin-left: 2.5rem;
    color: var(--dark-gray);
    font-size: 1rem;
    letter-spacing: .04rem;
    position: relative;
}
.header-heading
{
    font-size: 5rem;
    position: relative;
}
.header-heading::before
{
    content: 'New';
    position: absolute;
    top: -60px;
    color: var(--dark-blue);
    font-family: "Allison", cursive;
}
.product-name
{
    font-size: 1.7rem;
}
.header-pricing
{
    font-size: 1.5rem;
    margin: 1rem 0px;
}
.btn-container
{
    display: flex;
    margin-top: 2rem;
}
.primary-btn
{
    padding: 1rem 1.7rem;
    font-size: 1.1rem;
    border: none;
    background-color:var(--light-gray);
    /* color: var(--white); */
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.secondry-btn
{
    padding: 1rem 2.5rem;
    font-size: 1rem;
    border: 2px solid var(--dark-blue);
    background-color: var(--dark-blue);
    color: var(--white);
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
}
.primary-btn:hover
{
    transform: scale(1.1);
}
.secondry-btn:hover
{
    transform: scale(1);
}
.nav-links li a::after
{
    content: '';
    background: var(--dark-gray);
    position: absolute;
    height: .15rem;
    width: 100%;
    left: 0;
    bottom: -5px;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
    transform-origin: right;
}
.nav-links li a:hover::after
{
    transform: scaleX(1);
    transform-origin: left;
}