*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root
{
    --dark-blue: #0a1d3c;
    --light-gray: #e5e5e5;
    --white: #fff;
    --light-peach: #f9e3bc;
    --dark-gray: #3e3f43;
    --light-black:#1d1d1d;
}
.section
{
    width: 100%;
    height: 100vh;
}
nav
{
    width: 85%;
    height: 13vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}
header
{
    width: 80%;
    height: calc(100vh - 13vh);
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    /* position: absolute;
    top: 0; */
    margin: auto;
}
.nav-links 
{
    display: flex;
}
.header-image
{
    width: 33rem;
}